---
layout: skeleton.njk
---
<main>
    <p>You are seeing the documentation for: <span class="rainbowText">{{ projectData.fileSlug }}</span></p>
    <hr>
    <div>
        {{ content | safe }}
    </div>
</main>