{% macro projectShowcase(projects, c) %}
<div id="featured">
    <div id="featuredHelper">
        {% for project in projects %}
            {% for item in c %}
                {% if item.fileSlug == project %}
                    {% set projectData = item %}
                        <div class="featuredProject">
                            <a href="/projects/{{ project }}">
                                <img src="{% if projectData.data.logo %}/projects/{{project}}/{{ projectData.data.logo }}{% else %}/assets/mod-placeholder.png{% endif %}">
                            </a>
                            <div>
                                <p class="featuredProjectName">{{ projectData.data.name }}</p>
                                <p class="featuredProjectSubtitle">by <a href="/authors/{{ projectData.data.author }}/">{{ projectData.data.author }}</a></p>
                                <div class="featuredProjectSubtitle dimText">{{ projectData.data.subtitle }}</div>
                            </div>
                        </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endmacro %}