---
layout: "skeleton.njk"
styles: ["project"]
---
<div id="project">
    <div id="projectHeader">
        {% if logo %}
        <img src="{{ ('/projects/' + projectSlug + '/' + logo) | url }}">
        {% endif %}
        <div id="projectTitleSubtitle">
            <div id="projectTitleAuthor">
                <h1 id="projectTitle">{{ name }}</h1>
                <p id="projectAuthor">by <a href="{{ ('/authors/' + author) | url }}">{{ author }}</a></p>
            </div>
            <p id="projectSubtitle">{{ subtitle }}</p>
        </div>
        <a id="downloadLink" href="{{ downloadLink | url}}"><button id="downloadButton">{% if downloadLink %}Download{% else %}Unavailable{% endif %}</button></a>
    </div>
    {% if links or docs or images or releases %}
    <div id="projectImagesAndInfo">
        {% include "project_image.njk" %}
        <div id="projectInfo">
            <h2>Here's what we found:</h2>
            {% if links %}
            <p>{{ links | length }} links.</p>
            <ul>
                {% for label, addr in links %}
                <li><a href="{{ addr | url}}">{{ label }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if docs %}
            <p>{{ docs | length }} documentaion files.</p>
            <ul>
                {% for label, addr in docs %}
                <li><a href="{{ addr | url }}">{{ label }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <main id="projectDescription">
        {% if content %}
        {{ content | safe }}
        {% else %}
        <h2>Oopsie! :<</h2>
        <p>Seems like we don't have a description for this project.</p>
        <p class="errorQuote"><i>"If only the clockworks could speak<br>I wouldn't be so alone"</i></p>
        {% endif %}
    </main>
</div>