{% if images %}
<div id="projectImageCarrousel">
    <p>Images</p>
    <div id="projectCarrouselImageHolder">
        {% for image in images %}
        {% set dir = (page.filePathStem | default(page.url) ) | replace('/index','') %}
        <a href="{{ (dir ~ '/' ~ image) | url }}">
            <img class="projectImage" src="{{ (dir ~ '/' ~ image) | url }}">
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}