---
layout: base.njk
pagination:
  data: collections.projects
  size: 10
  alias: paginatedProjects
styles: ["search"]
---
<ul style="display: flex; flex-direction: column; gap: 1em;">
  {% for project in paginatedProjects %}
    <div class="searchItem">
      <p>
        {% if project.data.logo %}
          <img float="left" class="searchItemImage" src="{{ project.url }}{{ project.data.logo }}">
        {% endif %}
        <a class="searchItemTitle" href="{{ project.url }}">{{ project.data.name }}</a>
        {% if project.data.author %}
          by <a href="/authors/{{ project.data.author }}">{{ project.data.author }}</a>
        {% endif %}
      </p>
      <p class="searchItemDescription">{{ project.data.subtitle }}</p>
      <div class="searchItemTagHolder">
        {% for tag in project.data.tags %}
          <div class="tag-{{ tag }}">{{ tag }}</div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</ul>

<nav>
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">Prev</a>
  {% endif %}
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">Next</a>
  {% endif %}
</nav>
