---
layout: "skeleton.njk"
styles: ["project"]
---
<div id="project">
    <div id="projectHeader">
        <img src="{{ page.dir }}{{ logoName }}.{{ logoExtension }}">
        <div id="projectTitleSubtitle">
            <div id="projectTitleAuthor">
                <h1 id="projectTitle">{{ name }}</h1>
            </div>
            <p id="projectSubtitle">{{ subtitle }}</p>
        </div>
    </div>
    {% include "project_image.njk" %}
    <main id="projectDescription">
        {{ content | safe }}
    </main>
</div>