---
layout: "base.njk"
---
<h2>{{ page.fileSlug }} - Ouch! We hit a wall.</h2>
<p>{{ errorDescription | safe }}</p>
{% if errorQuote %}
<p class="errorQuote"><i>"{{ errorQuote | safe }}"</i></p>
{% endif %}
{% if content %}
{{ content | safe }}
{% endif %}