<header>
    <div id="linksBox">
        <h1 id="title">neoBeta</h1>
        <ul id="headerLinks">
            <a href="/">home</a> - 
            <a href="/search">search</a>
        </ul>
        <p id="credits">Adrian Victor, 2025 (<a href="https://git.disroot.org/adrianvictor/neoBeta">Unlicense</a>)</p>
    </div>
</header>