<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/styles.css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neoBeta</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <div id="everythingHelper">
        {% include "header.njk" %}
        <div id="projectHeader">
            <img src="{{ page.dir }}{{ logoName }}.{{ logoExtension }}">
            <div id="projectTitleSubtitle">
                <div id="projectTitleAuthor">
                    <h1 id="projectTitle">{{ projectName }}</h1>
                    <p id="projectAuthor">by {{ projectAuthor }}</p>
                </div>
                <p id="projectSubtitle">{{ projectSubtitle }}</p>
            </div>
            <a id="downloadLink" href="{{ projectDonwloadLink }}"><button id="downloadButton">Download</button></a>
        </div>
        <main id="projectDescription">
            {{ content | safe }}
        </main>
    </div>
    </body>
</html>