---
layout: "skeleton.njk"
---
<div id="projectHeader">
    {% if logo %}
    <img src="{{ page.dir }}{{ logo }}">
    {% endif %}
    <div id="projectTitleSubtitle">
        <div id="projectTitleAuthor">
            <h1 id="projectTitle">{{ name }}</h1>
            <p id="projectAuthor">by <a href="/authors/{{ author }}">{{ author }}</a></p>
        </div>
        <p id="projectSubtitle">{{ subtitle }}</p>
    </div>
    <a id="downloadLink" href="{{ downloadLink }}"><button id="downloadButton">{% if downloadLink %}Download{% else %}Unavailable{% endif %}</button></a>
</div>
{% include "project_image.njk" %}
<main id="projectDescription">
    {% if content %}
    {{ content | safe }}
    {% else %}
    <h2>Oopsie! :<</h2>
    <p>Seems like we don't have a description for this project.</p>
    <p class="errorQuote"><i>"If only the clockworks could speak<br>I wouldn't be so alone"</i></p>
    {% endif %}
</main>