* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Minecraft;
    src: url("MinecraftRegular-Bmg3.otf") format("opentype");
}

body {
    font-family: Minecraft, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: black;
    color:white;
    font-size : clamp(1.2rem, .2vw, 2rem);
}

header {
    display: flex;
}

a {
    text-decoration: none;
    color:greenyellow;
}

main {
    outline: 2px solid gray;
    margin-top: 20px;
    padding: 20px;
    background-color: black;
}

button {
    transition: .2s;
    background-color: black;
    color: white;
    padding: 10px;
    outline: 1px white;
}

button:hover {
    color: gray;
    border: 1px solid gray;
}

code {
    font-family: Minecraft, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: rgb(75, 75, 75);
    border: 1px solid white;
    padding-left: 4px;
    padding-right: 4px;
    /* margin-left: 2px;
    margin-right: 2px; */
}

#linksBox {
    padding: 10px;
    display: flex;
    width: 100%;
    background-color: black;
    outline: 2px solid gray;
    height: fit-content;
}

#headerLinks a {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    padding-left: 0;
}

#everythingHelper {
    max-width: 60%;
    margin: auto;
    transform: .2s;
}

#headerLinks {
    padding: 0;
    margin-left: 10px;
}

#title {
    margin-top: auto;
    margin-bottom: auto;
}

.searchItemImage {
    height: 1em;
}

#featured {
    margin-top: 20px;
    border: 2px solid greenyellow;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#featuredHelper {
    display: flex;
    flex-direction: row;
}


.featuredProject {
    transition: .2s;
    height: fit-content;
    width: 15%;
    font-size: smaller;
    padding: 4px;
    overflow: hidden;
}

.featuredProject:hover {
    transition: .2s;
    outline: 4px solid gray;
}

.featuredProject img {
    width: 100%;
}

.featuredProject p {
    margin-right: auto;
    margin-left: auto;
    text-overflow:clip;
}

#featured h2 {
    font-size: medium;
    font-weight: 100;
    margin-bottom: 10px;
}

#featuredHelper {
    gap: 10px;
    flex-wrap: wrap;
}

#projectTitleSubtitle {
    margin-top: auto;
    margin-bottom: auto;
}

#projectHeader {
    padding-top: 20px;
    gap: 20px;
    display: flex;
    text-shadow: 2px 2px gray;
}

#downloadButton {
    border: 2px solid gray;
}

#downloadLink {
    color: gray;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-align: right;
    text-shadow: 2px 2px black;
}

#downloadButton:hover {
    cursor: pointer;
    border-color: white;
}

#projectHeader img {
    outline: 2px solid gray;
    height: 100%;
}

#projectDescription li {
    margin-left: 20px;
    list-style-type: "> ";
}

#projectDescription h1, h2 {
    margin-top: 8px;
}

#projectTitleAuthor {
    display: flex;
}

#projectAuthor {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: 6px;
}

#credits {
    margin-left: auto;
}

@media only screen and (max-width: 1280px) {

    #everythingHelper {
        max-width: 80%;
    }

    #linksBox {
        flex-direction: column;
    }

    #linksBox * {
        margin-left: auto;
        margin-right: auto;
    }

    #projectHeader {
        flex-direction: column;
        text-align: center;
    }

    #projectHeader * {
        margin-left: auto;
        margin-right: auto;
    }

    #projectHeader img {
        width: 10vh;
        height: 10vh;
    }

    #projectTitleAuthor {
        flex-direction: column;
    }

    /* #featuredHelper {
        flex-direction: column;
    } */

    #featuredHelper * {
        margin-right: auto;
        margin-left: auto;
    }

    header {
        text-align: center;
    }
}

@media only screen and (max-width: 300px) {

    #everythingHelper {
        max-width: 90%;
    }

    #projectAuthor {
        margin: 0;
    }
    
}