---
layout: "base.njk"
styles: ["home"]
---

{% import "featured.njk" as featured %}

<h1>Howdy, traveler.</h1>
<p>This website is <b class="rainbowText">the place</b> for Minecraft plugins, made with users and developers in mind. neobeta is open-source, you can find out how the website is made in our <a href="https://github.com/adrianvic/neoBeta">GitHub repository</a> <span class="dimText">(spoiler: there's some real magic going on).</span></p>
<p>Our catalog is made by developers and community, you can get involved by following the tutorial linked <a href="/contribute">here</a>.</p>
<div id="featureAndUpdates">
    <div>
        <h2>Featured projects</h2>
        {{ featured.projectShowcase(["ghostsandstuff", "devilwithin", "timekeeper", "tefreezer"], collections.projects) }}
    </div>
    <div id="homeUpdates">
        {% include "news.njk" %}
    </div>
</div>