.searchItemImage {
    height: 1em;
}

.searchItemTagHolder {
    display: flex;
    padding-top: .2em;
    gap: .4em;
}

.searchItemTagHolder div {
    border: thin solid greenyellow;
    padding: .1em .2em .1em .2em;
}

.searchItemDescription {
    margin-bottom: 0px;
}
